/* ------------------------------------------- variables */
/* ------------------------------------------- variables */
/* ------------------------------------------- mixins */
/* ------------------------------------------- general */
html,
body {
  background: #f5f5f5;
  color: #000000;
  font-family: "wf_SegoeUILight", "wf_SegoeUI", "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe", "Segoe WP", wf_segoe-ui_light, wf_segoe-ui_normal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
html {
  font-size: 10pt;
}
body {
  padding-top: 60px;
}
a {
  color: #000000;
  text-decoration: none;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}
.inlineBlock {
  display: inline-block;
  margin-right: -4px;
}
.white-box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.white-box + .white-box {
  margin-top: 20px;
}
/* ------------------------------------------- popups */
.popup {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
.popup > div {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: #ffffff;
  padding: 30px;
  position: absolute;
  text-align: left;
  top: -2000px;
  z-index: 1000;
  max-width: 740px;
  width: 100%;
  left: 50%;
  margin-left: -400px;
}
.popup > div .restaurant-name {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.popup > div .restaurant-description {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 20px;
}
.popup > div .feeds-price {
  position: absolute;
  right: 38px;
  top: 30px;
}
.popup > div .feeds-price dt {
  color: #ccd1d9;
}
.popup > div .feeds-price dd {
  margin-left: 10px;
}
.popup > div .feeds-price div,
.popup > div .feeds-price dt,
.popup > div .feeds-price dd {
  display: inline-block;
  margin-right: -4px;
}
.popup > div .feeds-price div + div {
  margin-left: 20px;
}
.popup .focus {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
  opacity: 0;
}
/* ------------------------------------------- alerts */
.form-message {
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -ms-transition: top 0.4s;
  -o-transition: top 0.4s;
  transition: top 0.4s;
  position: fixed;
  left: 0;
  right: 0;
  top: -50px;
  z-index: 10000;
  height: 50px;
}
.form-message p {
  line-height: 50px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.form-message p.ok {
  background: #0039a1;
}
.form-message p.error {
  background: #ed4242;
}
.form-message p.actived {
  z-index: 1;
}
.form-message.displayed {
  top: 0;
}
.data-submit-error span {
  color: #ed4242 !important;
}
.data-submit-error input,
.data-submit-error textarea,
.data-submit-error select {
  border-color: #ed4242 !important;
}
.data-submit-ok span {
  color: #0039a1 !important;
}
.data-submit-ok input,
.data-submit-ok textarea,
.data-submit-ok select {
  border-color: #0039a1 !important;
}
/* ------------------------------------------- orders */
.repeat-order {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border: 1px solid #ccd1d9;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}
.repeat-order p {
  font-size: 1.5rem;
  line-height: 25px;
  margin: 15px 0;
}
.repeat-order p span {
  font-size: 4.4rem;
  display: block;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #e5722a;
}
.repeat-order .close-icon {
  position: absolute;
  font-style: normal;
  color: #ed4242;
  right: 15px;
  top: 10px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}
.orders-list {
  margin-top: 30px;
}
.orders-list h3 {
  padding: 15px 0;
  cursor: pointer;
}
.orders-list h3 .items {
  top: 2px;
  margin-left: 20px;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  opacity: .4;
}
.orders-list h3 .price {
  top: 3px;
  float: right;
  color: #ed4242;
}
.orders-list .items {
  display: block;
  font-weight: 100;
  position: relative;
}
.orders-list .price {
  position: relative;
}
.orders-list .comment {
  font-size: .75rem;
  opacity: .5;
  margin-top: 10px;
  display: block;
  line-height: 15px;
}
.orders-list .actions {
  margin-top: 15px;
  text-align: right;
}
.orders-list .actions .price {
  color: green;
  top: 2px;
  margin-right: 15px;
}
.orders-list .order-content {
  padding: 10px 15px 20px 15px;
}
.orders-list .order-content .items {
  line-height: 20px;
}
.orders-list .order-content + h3 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#repeat-order .actions.pop {
  margin-top: 50px;
  text-align: right;
}
/* ------------------------------------------- user menu */
.user-menu {
  float: right;
}
.user-menu .register-login {
  padding: 10px 0;
}
.user-menu .register-login .link {
  margin-right: 10px;
  padding: 9.5px 16.5px;
  cursor: pointer;
}
.user-menu .user-options {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 58px;
  overflow: hidden;
}
.user-menu .user-options .user {
  line-height: 60px;
  display: block;
  position: relative;
  padding: 0 20px 0 6px;
  color: #e5722a;
  max-width: 200px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-menu .user-options .user:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #e5722a transparent transparent transparent;
  right: 6.5px;
  top: 28px;
}
.user-menu .user-options .submenu {
  padding: 0 20px 9px 6px;
  background: #ffffff;
  text-align: right;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: relative;
  top: -2px;
}
.user-menu .user-options .submenu ul li {
  margin-bottom: 10px;
}
.user-menu .user-options .submenu ul li a {
  display: block;
  font-size: .9rem;
  color: #e5722a;
}
#login-popup > div,
#register-popup > div {
  max-width: 400px;
  margin-left: -200px;
}
#login-popup .form form input[type="text"],
#login-popup .form form input[type="password"],
#register-popup .form form input[type="text"],
#register-popup .form form input[type="password"] {
  padding: 10px;
}
/* ------------------------------------------- forms */
.form form fieldset {
  margin: 30px 0;
}
.form form fieldset legend {
  color: #000000;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.form form fieldset legend span {
  font-style: italic;
  color: #ccd1d9;
  margin-left: 10px;
}
.form form fieldset ul li {
  line-height: 25px;
}
.form form fieldset ul li label,
.form form fieldset ul li > div {
  cursor: pointer;
}
.form form fieldset ul li label input[type="checkbox"],
.form form fieldset ul li > div input[type="checkbox"] {
  position: relative;
  top: -2px;
}
.form form fieldset ul li label span,
.form form fieldset ul li > div span {
  color: #8b8983;
}
.form form label .legend,
.form form > div .legend {
  color: #000000;
  display: block;
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.form form label + label,
.form form label + div,
.form form div + label {
  display: block;
  margin-top: 15px;
}
.form form textarea {
  min-height: 50px;
}
.form form input[type="text"],
.form form input[type="password"],
.form form textarea,
.form form select {
  border: 1px solid #ccd1d9;
  font-size: 1rem;
  padding: 1% 2%;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}
.form form select {
  height: 35px;
}
.form form .actions {
  margin-top: 50px;
}
.form form .actions * {
  display: inline-block;
  margin-right: -4px;
  margin-right: 0;
}
.form form .actions .link {
  float: left;
  line-height: 40px;
}
.form form .actions > div {
  float: right;
}
.form form .actions > div .quantity span {
  font-size: .9rem;
}
.form form .actions > div .quantity input[type="text"] {
  padding: 8px;
  margin: 0 5px;
  width: 50px;
}
/* ------------------------------------------- ctas */
.cta {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1.1rem;
  box-sizing: border-box;
  height: 40px;
  line-height: 38px;
}
.cta.v1 {
  background: #ffffff;
  border-color: #ccd1d9;
}
.cta.v2 {
  background: #ed4242;
  border-color: #b80300;
  color: #ffffff;
}
.cta.v1.remove-from-order {
  margin-left: 15px;
}
/* ------------------------------------------- responsive menu */
.responsiveMenuIcon {
  display: none;
  float: right;
  position: relative;
}
.responsiveMenuIcon a {
  position: relative;
}
.responsiveMenuIcon a:before,
.responsiveMenuIcon a:after {
  content: "";
  display: block;
  position: absolute;
  background: #ed4242;
  height: 3px;
  right: 0;
  width: 15px;
}
.responsiveMenuIcon:before {
  content: "";
  display: block;
  position: absolute;
  background: #ed4242;
  right: 0;
  height: 3px;
  width: 15px;
}
.responsiveMenuIcon #rightMenuIcon {
  cursor: pointer;
  display: block;
  height: 60px;
  width: 60px;
}
.responsiveMenuIcon #rightMenuIcon:before {
  top: 28.5px;
}
.responsiveMenuIcon #rightMenuIcon:after {
  top: 33.5px;
}
.responsiveMenuIcon:before {
  top: 23.5px;
}
.rightMenu {
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  -ms-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  position: fixed;
  z-index: -1;
  right: -225px;
  width: 225px;
  top: 0;
}
.rightMenu .focus {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background: #000000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.rightMenu #contentRightMenu {
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  -ms-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  height: 100vh;
  padding-top: 20px;
  padding-right: 25px;
  position: absolute;
  right: -225px;
  text-align: left;
  width: 200px;
  overflow-y: scroll;
}
.rightMenu #contentRightMenu .logo {
  width: 150px;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 25px;
}
.rightMenu #contentRightMenu .logo img {
  width: 100%;
}
.rightMenu #contentRightMenu ul {
  padding-left: 25px;
  position: relative;
  z-index: 1;
}
.rightMenu #contentRightMenu ul li .link {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  color: #000000;
  display: block;
  line-height: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.rightMenu #contentRightMenu ul li hr {
  margin: 20px 0;
}
.rightMenu #contentRightMenu ul li + li {
  margin-top: 15px;
}
.rightMenu #contentRightMenu .background {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  width: 225px;
}
.rightMenu #contentRightMenu .social {
  margin: 30px 0 0 0;
}
.rightMenu #contentRightMenu .social li {
  display: inline-block;
  vertical-align: top;
  margin: 0px 31px 0 0;
}
.rightMenu #contentRightMenu .social li a {
  border: none;
  width: 20px;
  height: 20px;
}
.rightMenu #contentRightMenu .social li:last-child {
  margin-right: 0;
}
.rightMenu .user {
  margin-left: 25px;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}
.rightMenu .user span {
  border-bottom: 1px solid green;
  color: green;
  display: block;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
.rightMenu .user ul {
  margin-top: 20px;
  padding-left: 0 !important;
}
.rightMenu .user ul li a {
  padding: 10px 0;
}
.rightMenu .user:before {
  content: "";
  display: block;
  position: absolute;
  background: #f4f4f4;
  width: 225px;
  height: 140px;
  left: -25px;
  top: 0px;
}
.rightMenu .user + .social {
  margin-top: 50px !important;
}
.rightMenu .cta.v4 {
  line-height: 36px;
  margin-top: 35px;
}
/* ------------------------------------------- header */
.header {
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.header .fa.fa-arrow-left {
  float: left;
  line-height: 50px;
  padding: 0 20px 0 0;
  color: #ed4242;
}
.header .logo {
  color: #ed4242;
  font-size: 1.7rem;
}
.header .logo img {
  float: left;
  margin: 10px 0;
}
.header .logo span {
  color: #434a54;
  font-size: 1rem;
  font-weight: 600;
  line-height: 60px;
}
.header .help {
  margin-left: 15px;
  float: right;
  line-height: 60px;
}
.header .phone {
  color: #ed4242;
}
/* ------------------------------------------- restaurants list */
.restaurantsList .wrapper > ul {
  margin: 0 -15px;
  text-align: center;
}
.restaurantsList .wrapper > ul .item {
  background: #ffffff;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 370px;
  text-align: left;
  overflow: hidden;
  width: 100%;
}
.restaurantsList .wrapper > ul .item .thumb {
  color: #ffffff;
  height: 175px;
  position: relative;
}
.restaurantsList .wrapper > ul .item .thumb .nameAndRate {
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  font-size: 1.5rem;
  left: 0;
  padding: 0 10px 10px 10px;
  position: absolute;
  right: 0;
}
.restaurantsList .wrapper > ul .item .thumb .nameAndRate .name {
  font-weight: 300;
  /*padding-right: 120px;*/

  display: block;
  /* Fallback for non-webkit */

  display: -webkit-box;
  max-width: 400px;
  max-height: 39.199999999999996px;
  /* Fallback for non-webkit */

  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurantsList .wrapper > ul .item .thumb .nameAndRate .rate {
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 1.3rem;
}
.restaurantsList .wrapper > ul .item .thumb .nameAndRate .rate li {
  display: inline-block;
  margin-right: -4px;
  margin-right: 0;
}
.restaurantsList .wrapper > ul .item .thumb:before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant01 {
  background: url('../img/restaurant-01.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant02 {
  background: url('../img/restaurant-02.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant03 {
  background: url('../img/restaurant-03.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant04 {
  background: url('../img/restaurant-04.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant05 {
  background: url('../img/restaurant-05.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant06 {
  background: url('../img/restaurant-06.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant07 {
  background: url('../img/restaurant-07.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant08 {
  background: url('../img/restaurant-08.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant09 {
  background: url('../img/restaurant-09.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant10 {
  background: url('../img/restaurant-10.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant11 {
  background: url('../img/restaurant-11.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .thumb.restaurant12 {
  background: url('../img/restaurant-12.jpg') 0 0 no-repeat;
  background-size: 100%;
}
.restaurantsList .wrapper > ul .item .info {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.restaurantsList .wrapper > ul .item .info ul {
  position: relative;
}
.restaurantsList .wrapper > ul .item .info ul li {
  display: inline-block;
  margin-right: -4px;
}
.restaurantsList .wrapper > ul .item .info ul .dot {
  display: inline-block;
  margin-right: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #000000;
  height: 3px;
  width: 3px;
  top: -4px;
  position: relative;
  margin-left: 5px;
  margin-right: 0px;
}
.restaurantsList .wrapper > ul .item .info ul .typeFood {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurantsList .wrapper > ul .item .info ul .priceRange span {
  font-size: .8rem;
  color: #ccd1d9;
  position: relative;
  top: -2px;
  left: 5px;
  letter-spacing: -3px;
}
.restaurantsList .wrapper > ul .item .info ul .priceRange .selected {
  color: #000000;
}
.restaurantsList .wrapper > ul .item .info ul .featured {
  color: #ed4242;
  position: relative;
  right: 5px;
  float: right;
}
.restaurantsList .wrapper > ul .item .info ul .featured i {
  margin-left: 5px;
}
.restaurantsList .wrapper > ul .item .info ul .tags {
  padding-left: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20px, #ffffff 100%);
  position: absolute;
  right: 8px;
  bottom: -5px;
}
.restaurantsList .wrapper > ul .item .info ul + ul {
  margin-top: 10px;
}
/* ------------------------------------------- row + columns */
.row .column {
  display: inline-block;
  margin-right: -4px;
}
.row .large {
  width: 68%;
  margin-left: 2%;
}
.row .small {
  width: 30%;
}
/* ------------------------------------------- orders history */
.order-history {
  padding: 20px;
  box-sizing: border-box;
}
.order-history .orders-list {
  margin: 0;
}
.order-history .orders-list h3 .items {
  width: auto;
}
/* ------------------------------------------- tabs */
.tabs {
  padding: 0px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.tabs ul {
  margin-left: -15px;
}
.tabs ul li {
  display: inline-block;
  margin-right: -4px;
}
.tabs ul li span {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
  position: relative;
}
.tabs ul li span:hover:before {
  height: 3px;
}
.tabs ul li span:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  display: block;
  position: absolute;
  background: #ed4242;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tabs ul li span.selected:before {
  height: 3px;
}
.tabs.v2 {
  border-bottom: 0;
  overflow: hidden;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 0 0 15px;
}
.tabs.v2 ul li {
  display: block;
  margin-right: 0;
}
/* ------------------------------------------- filters */
.filters {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  background: #ffffff;
}
.filters .find-for {
  background-color: #434a54;
  color: #ffffff;
  padding: 30px 0;
}
.filters .find-for .title {
  margin-right: 15px !important;
  line-height: 39px;
  font-size: 25px;
}
.filters .find-for form {
  margin: 0 -5px -10px -5px;
}
.filters .find-for form input {
  border-color: #fff;
  max-width: 155px;
  height: 40px;
  margin: 0 5px 10px;
}
.filters .find-for form .cta {
  margin: 0 5px 10px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: top;
}
.filters .find-for .title,
.filters .find-for form,
.filters .find-for form > input {
  display: inline-block;
}
.filters .more {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.filters .more .box .title {
  font-size: 1.1rem;
}
.filters .more .box .search-sort {
  position: relative;
}
.filters .more .box .search-sort input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}
.filters .more .box .search-sort .search-icon {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  padding: 13.5px;
  opacity: .3;
  cursor: pointer;
}
.filters .more .box .search-sort .search-icon:hover {
  opacity: 1;
}
.filters .more .box .title,
.filters .more .box .search-sort {
  display: inline-block;
  margin-right: -5px;
}
.filters .more .box.search .title {
  margin-right: 7%;
  margin-bottom: 10px;
}
.filters .more .box.search .search-sort {
  width: 50%;
}
.filters .more .box.sort {
  margin-top: 15px;
}
.filters .more .box.sort .title {
  margin-right: 7%;
  margin-bottom: 10px;
}
.filters .more .box.sort .tabs {
  display: inline-block;
  max-width: 455px;
  width: 100%;
  box-sizing: border-box;
}
.filters .more .box.sort .search-sort ul {
  margin: 0 -5px -10px -5px;
}
.filters .more .box.sort .search-sort ul li {
  display: inline-block;
  margin: 0 5px 10px 5px;
  font-size: .8rem;
}
.filters .more .box.sort .search-sort ul li button {
  font-size: .9rem;
  background: transparent;
  border: 1px solid #ccd1d9;
}
.filters .more .box.sort .search-sort ul li button.selected {
  background: #f1f1f1;
}
.filters .more.row .column {
  display: inline-block;
  margin-right: -5px;
  width: 48%;
  text-align: left;
  vertical-align: top;
}
.filters .more.row .column:first-child {
  margin-right: 2%;
}
.filters .more.row .column:last-child {
  margin-left: 2%;
}
.extra ul {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.extra ul .title {
  font-weight: 600;
  margin-bottom: 10px;
}
.extra ul li label {
  margin: 5px 0;
}
.extra ul li label input {
  margin: 0;
}
.extra ul li label .name {
  font-size: .8rem;
  position: relative;
  top: 1px;
}
.extra ul li .more-link {
  text-decoration: underline;
  color: blue;
  font-size: .9rem;
  cursor: pointer;
}
#cuisins-popup > div,
#diets-popup > div,
#meals-popup > div {
  overflow: hidden;
}
#cuisins-popup > div .form form .extra,
#diets-popup > div .form form .extra,
#meals-popup > div .form form .extra {
  margin-top: 30px;
}
#cuisins-popup > div .form form .extra ul .title,
#diets-popup > div .form form .extra ul .title,
#meals-popup > div .form form .extra ul .title {
  display: none;
}
/* ------------------------------------------- tags */
.tags span {
  display: inline-block;
  margin-right: -4px;
  width: 21px;
  height: 20px;
}
.tags .gluten {
  background: url('../img/01-gluten.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags .vegan {
  background: url('../img/02-vegan.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags .vegetarian {
  background: url('../img/03-vegetarian.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags .kosher {
  background: url('../img/04-kosher.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags .spicy {
  background: url('../img/05-spicy.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags .dairy {
  background: url('../img/06-dairy.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags .nuts {
  background: url('../img/07-nuts.svg') 0 0 no-repeat;
  background-size: 100%;
}
.tags span + span {
  margin-left: 5px;
}
/* ------------------------------------------- restaurant */
#restaurant-canvas {
  background: #f5f5f5;
  color: #695a42;
}
#restaurant-canvas .restaurant {
  margin-top: 30px;
}
#restaurant-canvas .restaurant .wrapper {
  overflow: hidden;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description {
  overflow: hidden;
  margin-bottom: 20px;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .logo {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  float: left;
  margin-right: 15px;
  padding: 5px;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .logo img {
  max-width: 90px;
  height: auto;
  width: 100%;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .name-description {
  overflow: hidden;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .name-description .name {
  font-size: 2rem;
  margin: 10px 0;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .name-description .description {
  color: #8b8983;
  font-weight: 100;
  font-size: 1.1rem;
  margin-bottom: 29px;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .navigation {
  overflow: hidden;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .navigation li {
  display: inline-block;
  margin-right: -4px;
  color: #0039a1;
  cursor: pointer;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .navigation li:hover {
  text-decoration: underline;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .navigation li.selected {
  text-decoration: underline;
}
#restaurant-canvas .restaurant .wrapper .logo-name-description .navigation li + li {
  margin-left: 20px;
}
#restaurant-canvas .restaurant .wrapper #menu-box {
  position: relative;
  top: -2px;
}
#restaurant-canvas .restaurant .wrapper .menu .picker .menus {
  padding: 10px 15px;
  float: left;
}
#restaurant-canvas .restaurant .wrapper .menu .picker .menus ul {
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
#restaurant-canvas .restaurant .wrapper .menu .picker .menus ul li {
  line-height: 20px;
}
#restaurant-canvas .restaurant .wrapper .menu .picker .menus ul li a {
  color: #0039a1;
}
#restaurant-canvas .restaurant .wrapper .menu .picker .menus ul li a:hover {
  text-decoration: underline;
}
#restaurant-canvas .restaurant .wrapper .menu .picker.white-box {
  overflow: hidden;
}
#restaurant-canvas .restaurant .wrapper .menu .item .title-description {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#restaurant-canvas .restaurant .wrapper .menu .item .title-description h2 {
  color: #000000;
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 5px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .title-description .description {
  color: #8b8983;
  line-height: 22px;
  font-weight: 100;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li {
  cursor: pointer;
  padding: 15px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .thumb {
  display: inline-block;
  margin-right: -4px;
  border: 1px solid #ccd1d9;
  overflow: hidden;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .thumb img {
  max-width: 125px;
  height: auto;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data {
  display: inline-block;
  margin-right: -4px;
  margin-left: 10px;
  vertical-align: top;
  width: 80%;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.large h3 {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 10px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.large .tags {
  margin-bottom: 10px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small {
  text-align: right;
  vertical-align: top;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small div {
  margin-bottom: 10px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dt {
  color: #8b8983;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dd {
  margin-left: 20px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small div,
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dt,
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dd {
  display: inline-block;
  margin-right: -4px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small div + div {
  margin-left: 20px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .txt {
  color: #8b8983;
  line-height: 20px;
}
#restaurant-canvas .restaurant .wrapper .menu .item .list li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#restaurant-canvas .restaurant .wrapper .reviews {
  margin-top: 0;
  box-sizing: border-box;
}
#restaurant-canvas .restaurant .wrapper .reviews .rating-header {
  padding: 10px 15px;
  margin-top: 10px;
}
#restaurant-canvas .restaurant .wrapper .reviews .rating-header .rating-icons {
  display: inline-block;
  margin-left: 5px;
}
#restaurant-canvas .restaurant .wrapper .reviews .list {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 15px;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li .thumb {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  float: left;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li .thumb img {
  width: 100%;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li .content {
  margin-left: 55px;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li .content .author,
#restaurant-canvas .restaurant .wrapper .reviews .list li .content .rating-icons {
  margin-bottom: 10px;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li .content .text {
  display: block;
  /* Fallback for non-webkit */

  display: -webkit-box;
  max-width: 100%;
  height: 39.199999999999996px;
  /* Fallback for non-webkit */

  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li .content .read-more {
  text-decoration: underline;
  color: #0039a1;
}
#restaurant-canvas .restaurant .wrapper .reviews .list li + li {
  margin-top: 30px;
}
#restaurant-canvas .restaurant .wrapper .reviews .list .see-more {
  text-align: center;
}
#restaurant-canvas .restaurant .wrapper .reviews .rating-icons {
  position: relative;
  top: 1px;
}
#restaurant-canvas .restaurant .wrapper .reviews .rating-icons .selected {
  color: #ed4242;
}
#restaurant-canvas .restaurant .wrapper .information.row .split {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}
#restaurant-canvas .restaurant .wrapper .information.row .data-money {
  margin-bottom: 20px;
}
#restaurant-canvas .restaurant .wrapper .information.row .data-money .title {
  display: inline-block;
  margin-right: -4px;
}
#restaurant-canvas .restaurant .wrapper .information.row .data-money .dot {
  display: inline-block;
  margin-right: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #000000;
  height: 3px;
  width: 3px;
  top: -4px;
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
}
#restaurant-canvas .restaurant .wrapper .information.row .data-money .money {
  display: inline-block;
  margin-right: -4px;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list {
  overflow: hidden;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list .list-title {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list .list-items li {
  line-height: 17px;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list .list-items li i {
  font-style: normal;
  margin-right: 15px;
  display: inline-block;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list + .box-list {
  margin-top: 35px;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list.delivery-times i {
  width: 30px;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list.lead-times i {
  width: 110px;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list.zip-codes .list-items {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  -ms-column-gap: 10px;
  -o-column-gap: 10px;
  column-gap: 10px;
}
#restaurant-canvas .restaurant .wrapper .information.row .box-list.zip-codes .list-title + .list-title,
#restaurant-canvas .restaurant .wrapper .information.row .box-list.zip-codes .list-items + .list-title {
  margin-top: 20px;
}
#restaurant-canvas .restaurant .wrapper .menu,
#restaurant-canvas .restaurant .wrapper .information,
#restaurant-canvas .restaurant .wrapper .reviews {
  float: left;
  max-width: 65%;
  width: 100%;
}
#restaurant-canvas .restaurant .wrapper .order-summary {
  margin-top: 0;
  float: right;
  max-width: 30%;
  width: 100%;
  padding: 1.5%;
}
#restaurant-canvas .restaurant .wrapper .order-summary .title {
  color: #000000;
  display: block;
  font-size: 2rem;
  margin-bottom: 30px;
}
#restaurant-canvas .restaurant .wrapper .order-summary .without-items p {
  color: #000000;
  line-height: 20px;
}
#restaurant-canvas .restaurant .wrapper .order-summary .without-items p + p {
  margin-top: 15px;
}
#restaurant-canvas .footer {
  margin-top: 60px;
}
/* ------------------------------------------- cart */
.cart .cart-list li .cart-item li {
  display: inline-block;
  margin-right: -4px;
  box-sizing: border-box;
  padding-right: 10px;
  vertical-align: top;
}
.cart .cart-list li .cart-item li:last-child {
  padding-right: 0;
}
.cart .cart-list li .cart-item .item {
  font-weight: bold;
  width: 70%;
}
.cart .cart-list li .cart-item .quantity,
.cart .cart-list li .cart-item .price {
  text-align: right;
  width: 15%;
}
.cart .cart-list li .edit {
  cursor: pointer;
  display: block;
  text-decoration: underline;
  font-style: normal;
  color: #ed4242;
}
.cart .cart-list > li + li {
  margin-top: 20px;
}
.cart .cart-list .subtotal {
  overflow: hidden;
  font-weight: bold;
  color: #000;
  margin: 20px 0 20px;
  border-top: 1px solid lightgrey;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}
.cart .cart-list .subtotal .subtotal-title {
  float: left;
}
.cart .cart-list .subtotal .subtotal-number {
  float: right;
}
.cart .cta {
  float: right;
}
.cart .taxes {
  color: #000;
  margin: 20px 0 20px;
  border-top: 1px solid lightgrey;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}
.cart .taxes > div {
  overflow: hidden;
}
.cart .taxes > div .taxes-title {
  float: left;
}
.cart .taxes > div .taxes-title.total {
  font-weight: bold;
}
.cart .taxes > div .taxes-number {
  float: right;
  font-weight: bold;
}
.cart .taxes > div + div {
  margin-top: 10px;
}
/* ------------------------------------------- checkout */
.wizard {
  text-align: center;
  margin: 10px 0 30px 0px;
}
.wizard ul li {
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 3px solid #695a42;
  font-weight: bold;
  position: relative;
}
.wizard ul .selected {
  background: #695a42;
  color: #fbf9e5;
}
.wizard ul li + li {
  margin-left: 50px;
}
.wizard ul span {
  font-size: 25px;
  position: relative;
  top: -2px;
  margin: 0 10px;
}
.exp-date select {
  max-width: 105px !important;
}
.exp-date .brake {
  margin: 0 14px;
}
#restaurant-canvas .restaurant.checkout {
  margin-top: 20px;
}
.information.row.white-box.form form {
  padding: 20px;
}
.information.row.white-box.form form .steps h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.information.row.white-box.form form .steps p {
  line-height: 22px;
  margin-bottom: 20px;
}
.information.row.white-box.form form .steps input,
.information.row.white-box.form form .steps select {
  max-width: 250px;
}
.information.row.white-box.form form .steps .save-card {
  float: left;
  position: relative;
  top: -3px;
  margin-right: 10px;
}
.information.row.white-box.form form .steps .actions {
  overflow: hidden;
}
.information.row.white-box.form form .steps .actions .cta {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}
.information.row.white-box.form form .steps .actions .cta + .cta {
  margin-right: 50px;
}
/* ------------------------------------------- footer */
.footer .border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 25px;
  padding-top: 25px;
  overflow: hidden;
  text-align: center;
}
.footer .copyright {
  float: left;
  font-size: .9rem;
  color: #939393;
}
.footer .copyright .brand {
  color: #2d2d2d;
}
.footer .links {
  float: left;
}
.footer .links li {
  display: inline-block;
  margin-right: -4px;
  padding: 0 20px;
  position: relative;
}
.footer .links li a {
  color: #3a8fc8;
  font-size: .9rem;
}
.footer .links li a:hover {
  text-decoration: underline;
}
.footer .links li + li:before {
  content: "";
  display: block;
  position: absolute;
  content: "|";
  left: 0;
  color: #939393;
}
/* ------------------------------------------- responsive */
@media (max-width: 1130px) {
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small div,
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dt,
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dd {
    margin-right: 0;
  }
}
@media (max-width: 1115px) {
  #restaurant-canvas .restaurant .wrapper .tabs.v2 {
    float: inherit;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}
@media (max-width: 1110px) {
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .thumb {
    display: block;
    margin: 0 auto 20px auto;
    width: 125px;
  }
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data {
    display: block;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .row .large {
    width: 70%;
    margin-left: 0;
  }
}
@media (max-width: 1070px) {
  .footer .copyright {
    float: inherit;
    margin-bottom: 20px;
    display: block;
  }
  .footer .links {
    float: inherit;
  }
}
@media (max-width: 915px) {
  .footer .wrapper li {
    display: block;
    margin-right: 0;
    padding: 10px 0;
  }
  .footer .wrapper li + li:before {
    display: none;
  }
}
@media (max-width: 820px) {
  .footer .links li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer .links li + li:before {
    display: none;
  }
}
@media (max-width: 800px) {
  .popup > div {
    padding: 4%;
    width: 92%;
    left: 0;
    margin-left: 0 !important;
  }
  .popup > div .feeds-price {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 10px;
  }
}
@media (max-width: 775px) {
  .header .logo span {
    display: none;
  }
  .orders-list h3 .price {
    display: none;
  }
  .orders-list h3 .items {
    margin-left: 0;
    width: 100%;
    display: block;
    margin-top: 5px;
  }
  .order-history .orders-list h3 .price {
    display: block;
    top: -30px;
    font-size: .9rem;
  }
  #restaurant-canvas .restaurant .wrapper .order-summary {
    float: inherit;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  #restaurant-canvas .restaurant .wrapper .menu,
  #restaurant-canvas .restaurant .wrapper .information,
  #restaurant-canvas .restaurant .wrapper .reviews {
    max-width: 100%;
    float: inherit;
    overflow: hidden;
  }
}
@media (max-width: 740px) {
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .thumb {
    display: block;
    margin: 0 auto 15px auto;
    max-width: 125px;
  }
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .row .column {
    display: block;
    margin-right: 0;
    padding: 0;
  }
  .row .large,
  .row .small {
    width: 100%;
  }
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small {
    text-align: left;
  }
}
@media (max-width: 690px) {
  .header .help {
    display: none;
  }
}
@media (max-width: 670px) {
  #restaurant-canvas .restaurant .wrapper .logo-name-description .logo {
    float: inherit;
    max-width: 90px;
  }
  #restaurant-canvas .restaurant .wrapper .logo-name-description .name-description .description {
    margin-bottom: 20px;
  }
}
@media (max-width: 580px) {
  .filters .more.row .column,
  .filters .more .box.search .search-sort {
    width: 100%;
  }
  .filters .more.row .column:first-child {
    margin-right: 0;
  }
  .filters .more.row .column:last-child {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (max-width: 550px) {
  #restaurant-canvas .restaurant .wrapper .menu .picker .menus ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
  }
  #restaurant-canvas .restaurant .wrapper .logo-name-description .name-description .description,
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.large h3 {
    line-height: 20px;
  }
  #restaurant-canvas .restaurant .wrapper .menu .item .title-description h2 {
    line-height: 25px;
  }
  .wrapper .logo-name-description .name-description .name {
    line-height: 30px;
  }
}
@media (max-width: 515px) {
  #restaurant-canvas .restaurant .wrapper .information.row .split {
    width: 100%;
  }
}
@media (max-width: 410px) {
  .restaurantsList .wrapper > ul .item {
    margin-bottom: 20px;
  }
  .restaurantsList .wrapper > ul .item,
  .restaurantsList .wrapper > ul {
    margin-left: 0;
    margin-right: 0;
  }
  .restaurantsList .wrapper > ul .item .info ul li {
    display: block;
    margin-right: 0;
    float: inherit !important;
    margin-bottom: 10px;
  }
  .restaurantsList .wrapper > ul .item .thumb {
    background-size: cover !important;
  }
  .restaurantsList .wrapper > ul .item .info ul .typeFood {
    width: 100%;
  }
  .restaurantsList .wrapper > ul .item .info ul .dot {
    display: none;
  }
  .restaurantsList .wrapper > ul .item .info ul .priceRange span {
    left: 0px;
  }
  .restaurantsList .wrapper > ul .item .info ul .featured {
    right: 0;
  }
  .restaurantsList .wrapper > ul .item .info ul .tags {
    padding-left: 0;
    position: inherit;
    right: 0;
    bottom: 0;
    margin-bottom: 0 !important;
  }
  .information.row.white-box.form form .steps .actions .cta + .cta {
    margin-top: 20px;
    margin-right: 0;
  }
  .wizard ul span {
    display: none;
  }
}
@media (max-width: 400px) {
  .form form .actions {
    text-align: right;
  }
  .form form .actions > div {
    float: inherit;
    margin-top: 15px;
  }
  .form form input[type="text"],
  .form form textarea {
    padding: 2%;
  }
  .cta.v1.cancel {
    float: right;
    margin-left: 15px;
  }
  .filters .find-for form {
    margin: 0;
  }
  .filters .find-for form input {
    max-width: 100%;
    padding: 0 10px !important;
    margin: 0 0 10px;
  }
  .filters .find-for form .cta {
    margin: 0;
    width: 100%;
  }
  .popup.v2 .form form .actions {
    text-align: inherit;
    overflow: hidden;
  }
  .popup.v2 .form form .actions .cta.v1.cancel {
    float: left;
    margin-left: inherit;
  }
  .popup.v2 .form form .actions > div {
    float: right;
    margin-top: 0;
  }
  .repeat-order p span {
    font-size: 2.4rem;
  }
  .responsiveMenuIcon {
    display: block;
  }
  .user-menu {
    display: none;
  }
}
