/* ------------------------------------------- variables */

@black: #000;
@white: #fff;
@grey: #434a54;
@midgrey: #8B8983;
@lightgrey: #ccd1d9;
@red: #ed4242;
@darkred: #B80300;
@brown: #695A42;
@beige: #FBF9E5;
@lightbeige: #FCFDF6;
@blue: #0039a1;
@orange: #e5722a;


@font-size: 20px;
@line-height: 1.2;
@lines-to-show: 2;

/* ------------------------------------------- mixins */

.transition (@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transitions (@transition1, @transition2) {
  -webkit-transition: @transition1, @transition2;
     -moz-transition: @transition1, @transition2;
      -ms-transition: @transition1, @transition2;
       -o-transition: @transition1, @transition2;
          transition: @transition1, @transition2;
}
.transform (@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}
.text-shadow (@textshadow) {
  -webkit-text-shadow: @textshadow;
     -moz-text-shadow: @textshadow;
      -ms-text-shadow: @textshadow;
       -o-text-shadow: @textshadow;
          text-shadow: @textshadow;
}
.box-shadow (@boxshadow) {
  -webkit-box-shadow: @boxshadow;
     -moz-box-shadow: @boxshadow;
      -ms-box-shadow: @boxshadow;
       -o-box-shadow: @boxshadow;
          box-shadow: @boxshadow;
}
.box-sizing (@boxsize) {
  -webkit-box-sizing: @boxsize;
     -moz-box-sizing: @boxsize;
      -ms-box-sizing: @boxsize;
       -o-box-sizing: @boxsize;
          box-sizing: @boxsize;
}
.filter (@filter) {
  -webkit-filter: @filter;
     -moz-filter: @filter;
      -ms-filter: @filter;
       -o-filter: @filter;
          filter: @filter;
}
.opacity (@opacity) {
  -webkit-opacity: @opacity;
     -moz-opacity: @opacity;
      -ms-opacity: @opacity;
       -o-opacity: @opacity;
          opacity: @opacity;
}
.backgroundsize (@backgroundsize) {
  -webkit-background-size: @backgroundsize;
     -moz-background-size: @backgroundsize;
      -ms-background-size: @backgroundsize;
       -o-background-size: @backgroundsize;
          background-size: @backgroundsize;
}
.border-radius (@borderradius) {
  -webkit-border-radius: @borderradius;
     -moz-border-radius: @borderradius;
      -ms-border-radius: @borderradius;
       -o-border-radius: @borderradius;
          border-radius: @borderradius;
}
.animation (@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
      -ms-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
.column-gap (@columngap) {
  -webkit-column-gap: @columngap;
     -moz-column-gap: @columngap;
      -ms-column-gap: @columngap;
       -o-column-gap: @columngap;
          column-gap: @columngap;
}
.column-count (@columncount) {
  -webkit-column-count: @columncount;
     -moz-column-count: @columncount;
      -ms-column-count: @columncount;
       -o-column-count: @columncount;
          column-count: @columncount;
}

/* ------------------------------------------- general */

html, body {
  background: #f5f5f5;
  color: @black;
  font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP", wf_segoe-ui_light, wf_segoe-ui_normal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%
}
html { font-size: 10pt }
body { padding-top: 60px }
a {
  color: @black;
  text-decoration: none
}
.pseudos {
  content: "";
  display: block;
  position: absolute
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table
  }
  &:after { clear: both }
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left
}
.inlineBlock {
  display: inline-block;
  margin-right: -4px
}
.white-box {
  background: @white;
  border: 1px solid rgba(0,0,0,.05);
}
.white-box + .white-box { margin-top: 20px; }

/* ------------------------------------------- popups */

.popup {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;

  >div {
    .transition(all 1s);
    background: @white;
    padding: 30px;
    position: absolute;
    text-align: left;
    top: -2000px;
    z-index: 1000;
    max-width: 740px;
    width: 100%;
    left: 50%;
    margin-left: -400px;

    .restaurant-name {
      font-size: 1.5rem;
      font-weight: 100;
      margin-bottom: 20px;
    }
    .restaurant-description {
      font-size: 1.1rem;
      font-weight: 100;
      line-height: 20px;
    }
    .feeds-price {
      position: absolute;
      right: 38px;
      top: 30px;

      dt { color: @lightgrey }
      dd { margin-left: 10px }
      div, dt, dd { .inlineBlock(); }
      div + div { margin-left: 20px }
    }
  }
  .focus {
    .transition(opacity .4s);
    background: rgba(0,0,0,.7);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;
    opacity: 0;
  }
}

/* ------------------------------------------- alerts */

.form-message {
    .transition(top .4s);
    position: fixed;
    left: 0;
    right: 0;
    top: -50px;
    z-index: 10000;
    height: 50px;

    p {
      line-height: 50px;
      color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
    p.ok { background: @blue }
    p.error { background: @red }
    p.actived { z-index: 1 }
}
.form-message.displayed { top: 0 }
.data-submit-error {
  span { color: @red !important }
  input,textarea, select { border-color: @red !important }
}
.data-submit-ok {
  span { color: @blue !important }
  input,textarea, select { border-color: @blue !important }
}

/* ------------------------------------------- orders */

.repeat-order {
  .transition(all .4s);
  .box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  background: @white;
  border: 1px solid @lightgrey;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

  p {
    font-size: 1.5rem;
    line-height: 25px;
    margin: 15px 0;

   span {
    font-size: 4.4rem;
    display: block;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: @orange;
   }
  }
  .close-icon {
    position: absolute;
    font-style: normal;
    color: @red;
    right: 15px;
    top: 10px;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
  }
}
.orders-list {
  margin-top: 30px;

  h3 {
    padding: 15px 0;
    cursor: pointer;

    .items {
      top: 2px;
      margin-left: 20px;
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      opacity: .4;
    }
    .price {
      top: 3px;
      float: right;
      color: @red;
    }
  }
  .items {
    display: block;
    font-weight: 100;
    position: relative;
  }
  .price { position: relative; }
  .comment {
    font-size: .75rem;
    opacity: .5;
    margin-top: 10px;
    display: block;
    line-height: 15px;
  }
  .actions {
    margin-top: 15px;
    text-align: right;

    .price {
      color: green;
      top: 2px;
      margin-right: 15px;
    }
  }
  .order-content {
    padding: 10px 15px 20px 15px;

    .items { line-height: 20px }
  }
  .order-content + h3 { border-top: 1px solid rgba(0,0,0,.1); }
}
#repeat-order {
  .actions.pop {
    margin-top: 50px;
    text-align: right;
  }
}

/* ------------------------------------------- user menu */

.user-menu {
  float: right;

  .register-login {
    padding: 10px 0;

    .link {
      margin-right: 10px;
      padding: 9.5px 16.5px;
      cursor: pointer;
    }
  }
  .user-options {
    .transition(all .4s);
    height: 58px;
    overflow: hidden;

    .user {
      line-height: 60px;
      display: block;
      position: relative;
      padding: 0 20px 0 6px;
      color: @orange;
      max-width: 200px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:before {
        .pseudos();
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: @orange transparent transparent transparent;
        right: 6.5px;
        top: 28px;
      }
    }
    .submenu {
      padding: 0 20px 9px 6px;
      background: @white;
      text-align: right;
      border-left: 1px solid rgba(0,0,0,.05);
      border-right: 1px solid rgba(0,0,0,.05);
      border-bottom: 1px solid rgba(0,0,0,.05);
      box-sizing: border-box;
      position: relative;
      top: -2px;

      ul {

        li {
          margin-bottom: 10px;

          a {
            display: block;
            font-size: .9rem;
            color: @orange;
          }
        }
      }
    }
  }
}

#login-popup > div,
#register-popup > div {
  max-width: 400px;
  margin-left: -200px;
}
#login-popup .form form input[type="text"],
#login-popup .form form input[type="password"],
#register-popup .form form input[type="text"],
#register-popup .form form input[type="password"] { padding: 10px; }

/* ------------------------------------------- forms */

.form {

  form {

    fieldset {
      margin: 30px 0;

      legend {
        color: @black;
        font-size: 1.1rem;
        margin-bottom: 15px;

        span {
          font-style: italic;
          color: @lightgrey;
          margin-left: 10px;
        }
      }
      ul {
        li {
          line-height: 25px;

          label, >div {
            cursor: pointer;

            input[type="checkbox"] {
              position: relative;
              top: -2px;
            }
            span { color: @midgrey; }
          }
        }
      }
    }
    label, >div {

      .legend {
        color: @black;
        display: block;
        font-size: .9rem;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
    label + label, label + div, div + label  {
      display:block;
      margin-top: 15px;
    }
    textarea {
      min-height: 50px;
    }
    input[type="text"], input[type="password"], textarea, select {
      border: 1px solid @lightgrey;
      font-size: 1rem;
      padding: 1% 2%;
      width: 100%;
      box-sizing: border-box;
      background: #fff;
    }
    select { height: 35px }
    .actions {
      margin-top: 50px;

      * {
        .inlineBlock();
        margin-right: 0;
      }
      .link {
        float: left;
        line-height: 40px;
      }
      >div {
        float: right;

        .quantity {

          span { font-size: .9rem; }
          input[type="text"] {
            padding:8px;
            margin: 0 5px;
            width: 50px;
          }
        }
      }
    }
  }
}

/* ------------------------------------------- ctas */

.cta {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1.1rem;
  box-sizing: border-box;
  height: 40px;
  line-height: 38px;
}
.cta.v1 {
  background: @white;
  border-color: @lightgrey;
}
.cta.v2 {
  background: @red;
  border-color: @darkred;
  color: @white;
}
.cta.v1.remove-from-order { margin-left: 15px }

/* ------------------------------------------- responsive menu */

.responsiveMenuIcon {
  display: none;
  float: right;
  position: relative;

  a {
    position: relative;

    &:before, &:after {
      .pseudos();
      background: @red;
      height: 3px;
      right: 0;
      width: 15px;
    }
  }
  &:before {
    .pseudos();
    background: @red;
    right: 0;
    height: 3px;
    width: 15px;
  }
}

.responsiveMenuIcon {

  #rightMenuIcon {
    cursor: pointer;
    display: block;
    height: 60px;
    width: 60px;

    &:before { top: 28.5px; }
    &:after { top: 33.5px; }
  }
  &:before { top: 23.5px; }
}

.rightMenu {
  .transition(right .4s);
  position: fixed;
  z-index: -1;
  right: -225px;
  width: 225px;
  top: 0;

  .focus {
    .transition(opacity .4s);
    background: @black;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
  #contentRightMenu {
    .transition(right .4s);
    height: 100vh;
    padding-top: 20px;
    padding-right: 25px;
    position: absolute;
    right: -225px;
    text-align: left;
    width: 200px;
    overflow-y: scroll;

    .logo {
      width: 150px;
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 25px;

      img { width: 100% }
    }
    ul {
      padding-left: 25px;
      position: relative;
      z-index: 1;

      li {
        .link {
          .transition(color .4s);
          color: @black;
          display: block;
          line-height: 20px;
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
        }
        hr { margin: 20px 0 }
      }
      li + li { margin-top: 15px }
    }
    .background {
      .box-shadow(0 0 5px rgba(0,0,0,.15));
      background: @white;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 0;
      position: absolute;
      width: 225px;
    }
    .social {
      margin: 30px 0 0 0;

      li {
        display: inline-block;
        vertical-align: top;
        margin: 0px 31px 0 0;

        a {
          border: none;
          width: 20px;
          height: 20px;
        }
        &:last-child { margin-right: 0 }
      }
    }
  }
  .user {
    margin-left: 25px;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;

    span {
      border-bottom: 1px solid green;
      color: green;
      display: block;
      font-weight: 700;
      padding-bottom: 20px;
      position: relative;
      text-transform: uppercase;
    }
    ul {
      margin-top: 20px;
      padding-left: 0 !important;

      li {

        a { padding: 10px 0 }
      }
    }
    &:before {
      .pseudos();
      background: #f4f4f4;
      width: 225px;
      height: 140px;
      left: -25px;
      top: 0px;
    }
  }
  .user + .social { margin-top: 50px !important }
  .cta.v4 {
    line-height: 36px;
    margin-top: 35px;
  }
}

/* ------------------------------------------- header */

.header {
  position: fixed;
  background: @white;
  border-bottom: 1px solid rgba(0,0,0,.05);
  box-sizing: border-box;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .fa.fa-arrow-left {
    float: left;
    line-height: 50px;
    padding: 0 20px 0 0;
    color: @red;
  }
  .logo {
    color: @red;
    font-size: 1.7rem;

    img {
      float:left;
      margin: 10px 0;
    }
    span {
      color: @grey;
      font-size: 1rem;
      font-weight: 600;
      line-height: 60px;
    }
  }
  .help {
    margin-left: 15px;
    float: right;
    line-height: 60px;
  }
  .phone { color: @red; }
}

/* ------------------------------------------- restaurants list */

.restaurantsList {

  .wrapper {

    > ul {
      margin: 0 -15px;
      text-align: center;

      .item {
        background: @white;
        display: inline-block;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
        max-width: 370px;
        text-align: left;
        overflow: hidden;
        width: 100%;

        .thumb {
          color: @white;
          height: 175px;
          position: relative;

          .nameAndRate {
            .text-shadow(0 1px 0 rgba(0, 0, 0, 0.5));
            bottom: 0;
            font-size: 1.5rem;
            left: 0;
            padding: 0 10px 10px 10px;
            position: absolute;
            right: 0;

            .name {
              font-weight: 300;
              /*padding-right: 120px;*/
              display: block; /* Fallback for non-webkit */
              display: -webkit-box;
              max-width: 400px;
              max-height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */
              margin: 0 auto;
              font-size: @font-size;
              line-height: @line-height;
              -webkit-line-clamp: @lines-to-show;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .rate {
              bottom: 10px;
              position: absolute;
              right: 10px;
              font-size: 1.3rem;

              li {
                .inlineBlock();
                margin-right: 0;
              }
            }
          }
          &:before {
            .pseudos();
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
            left: 0;
            right: 0;
            bottom: 0;
            height: 75px;
          }
        }
        .thumb.restaurant01 {
          background: url('../img/restaurant-01.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant02 {
          background: url('../img/restaurant-02.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant03 {
          background: url('../img/restaurant-03.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant04 {
          background: url('../img/restaurant-04.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant05 {
          background: url('../img/restaurant-05.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant06 {
          background: url('../img/restaurant-06.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant07 {
          background: url('../img/restaurant-07.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant08 {
          background: url('../img/restaurant-08.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant09 {
          background: url('../img/restaurant-09.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant10 {
          background: url('../img/restaurant-10.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant11 {
          background: url('../img/restaurant-11.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .thumb.restaurant12 {
          background: url('../img/restaurant-12.jpg') 0 0 no-repeat;
          background-size: 100%;
        }
        .info {
          padding: 10px;
          border: 1px solid rgba(0,0,0,.05);

          ul {
            position: relative;

            li {
              .inlineBlock();
            }
            .dot {
              .inlineBlock();
              .border-radius(50%);
              background: @black;
              height: 3px;
              width: 3px;
              top: -4px;
              position: relative;
              margin-left: 5px;
              margin-right: 0px;
            }
            .typeFood {
              width: 210px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .priceRange {

              span {
                font-size: .8rem;
                color: @lightgrey;
                position: relative;
                top: -2px;
                left: 5px;
                letter-spacing: -3px;
              }
              .selected { color: @black }
            }
            .featured {
              color: @red;
              position: relative;
              right: 5px;
              float: right;

              i { margin-left: 5px }
            }
            .tags {
              padding-left: 20px;
              background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFF 20px, #FFF 100%);
              position: absolute;
              right: 8px;
              bottom: -5px;
            }
          }
          ul + ul { margin-top: 10px }
        }
      }
    }
  }
}

/* ------------------------------------------- row + columns */

.row {

  .column {
    .inlineBlock();
  }
  .large {
    width: 68%;
    margin-left: 2%;
  }
  .small { width: 30% }
}

/* ------------------------------------------- orders history */

.order-history {
  padding: 20px;
  box-sizing: border-box;

  .orders-list { margin: 0 }
  .orders-list h3 .items { width: auto; }
}

/* ------------------------------------------- tabs */

.tabs {
  padding: 0px 15px;
  border-bottom: 1px solid rgba(0,0,0,.05);

  ul {
    margin-left: -15px;

    li {
      .inlineBlock();

      span {
        .transition(all .3s);
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        position: relative;

        &:hover { &:before { height: 3px; } }
        &:before {
          .transition(all .3s);
          .pseudos();
          background: @red;
          height: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      span.selected { &:before { height: 3px; } }
    }
  }
}
.tabs.v2 {
  border-bottom: 0;
  overflow: hidden;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 0 0 15px;

  ul {

    li {
      display: block;
      margin-right: 0;
    }
  }
}

/* ------------------------------------------- filters */

.filters {
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin-bottom: 30px;
  background: @white;

  .find-for {
    background-color: #434a54;
    color: @white;
    padding: 30px 0;

    .title {
      margin-right: 15px !important;
      line-height: 39px;
      font-size: 25px;
    }
    form {
      margin: 0 -5px -10px -5px;

      input {
        border-color: #fff;
        max-width: 155px;
        height: 40px;
        margin: 0 5px 10px;
      }
      .cta {
        margin: 0 5px 10px;
        height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: top;
      }
    }
    .title, form, form > input { display: inline-block; }
  }
  .more {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .box {

      .title { font-size: 1.1rem; }
      .search-sort {
        position: relative;

        input {
          width: 100%;
          height: 40px;
          padding: 0 10px;
        }
        .search-icon {
          .transition(opacity .4s);
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background: transparent;
          padding: 13.5px;
          opacity: .3;
          cursor: pointer;

          &:hover { opacity: 1 }
        }
      }
      .title, .search-sort {
        display: inline-block;
        margin-right: -5px;
      }
    }
    .box.search {
      .title {
        margin-right: 7%;
        margin-bottom: 10px;
      }
      .search-sort { width: 50% }
    }
    .box.sort {
      margin-top: 15px;

      .title {
        margin-right: 7%;
        margin-bottom: 10px;
      }
      .tabs {
        display: inline-block;
        max-width: 455px;
        width: 100%;
        box-sizing: border-box;
      }
      .search-sort {
        ul {
          margin: 0 -5px -10px -5px;

          li {
            display: inline-block;
            margin: 0 5px 10px 5px;
            font-size: .8rem;

            button {
              font-size: .9rem;
              background: transparent;
              border: 1px solid @lightgrey;
            }
            button.selected { background: #f1f1f1 }
          }
        }
      }
    }
  }
  .more.row {
    .column {
      display: inline-block;
      margin-right: -5px;
      width: 48%;
      text-align: left;
      vertical-align: top;

      &:first-child { margin-right: 2% }
      &:last-child { margin-left: 2% }
    }
  }
}
.extra {

  ul {
    display: inline-block;
    width: 32%;
    vertical-align: top;

    .title {
      font-weight: 600;
      margin-bottom: 10px;
    }
    li {

      label {
        margin: 5px 0;

        input { margin: 0 }
        .name {
          font-size: .8rem;
          position: relative;
          top: 1px;
        }
      }
      .more-link {
        text-decoration: underline;
        color: blue;
        font-size: .9rem;
        cursor: pointer
      }
    }
  }
}

#cuisins-popup,
#diets-popup,
#meals-popup {

  > div {
    overflow: hidden;

    .form {

      form {

        .extra {
          margin-top: 30px;

          ul {

            .title {  display: none }
          }
        }
      }
    }
  }
}

/* ------------------------------------------- tags */

.tags {

  span {
    .inlineBlock();
    width: 21px;
    height: 20px;
  }
  .gluten {
    background: url('../img/01-gluten.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  .vegan {
    background: url('../img/02-vegan.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  .vegetarian {
    background: url('../img/03-vegetarian.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  .kosher {
    background: url('../img/04-kosher.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  .spicy {
    background: url('../img/05-spicy.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  .dairy {
    background: url('../img/06-dairy.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  .nuts {
    background: url('../img/07-nuts.svg') 0 0 no-repeat;
    background-size: 100%;
  }
  span + span { margin-left: 5px }
}

/* ------------------------------------------- restaurant */

@font-size: 14px;
@line-height: 1.4;
@lines-to-show: 2;

#restaurant-canvas {
  background: #f5f5f5;
  color: @brown;

  .restaurant {
    margin-top: 30px;

    .wrapper {
      overflow: hidden;

      .logo-name-description {
        overflow: hidden;
        margin-bottom: 20px;

        .logo {
          background: @white;
          border: 1px solid rgba(0,0,0,.05);
          float: left;
          margin-right: 15px;
          padding: 5px;

          img {
            max-width: 90px;
            height: auto;
            width: 100%;
          }
        }
        .name-description {
          overflow: hidden;

          .name {
            font-size: 2rem;
            margin: 10px 0;
          }
          .description  {
            color: @midgrey;
            font-weight: 100;
            font-size: 1.1rem;
            margin-bottom: 29px;
          }
        }
        .navigation {
          overflow: hidden;

          li {
            .inlineBlock();
            color: @blue;
            cursor: pointer;

            &:hover { text-decoration: underline; }
          }
          li.selected { text-decoration: underline; }
          li + li { margin-left: 20px; }
        }
      }
      #menu-box  {
        position: relative;
        top: -2px;
      }
      .menu {

        .picker {

          .menus {
            padding: 10px 15px;
            float: left;

            ul {
              .column-gap(20px);
              .column-count(2);

              li {
                line-height: 20px;

                a {
                  color: @blue;

                  &:hover { text-decoration: underline; }
                }
              }
            }
          }
        }
        .picker.white-box { overflow: hidden; }
        .item {

          .title-description {
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,.05);

            h2 {
              color: @black;
              font-size: 1.7rem;
              font-weight: 100;
              margin-bottom: 5px;
            }
            .description {
              color: @midgrey;
              line-height: 22px;
              font-weight: 100;
            }
          }
          .list {

            li {
              cursor: pointer;
              padding: 15px;

              .thumb {
                .inlineBlock();
                border:1px solid @lightgrey;
                overflow: hidden;

                img {
                  max-width: 125px;
                  height: auto;
                }
              }
              .data {
                .inlineBlock();
                margin-left: 10px;
                vertical-align: top;
                width: 80%;

                .row {

                  .column.large {

                    h3 {
                      font-size: 1.2rem;
                      font-weight: 100;
                      margin-bottom: 10px;
                    }
                    .tags { margin-bottom: 10px; }
                  }
                  .column.small {
                    text-align: right;
                    vertical-align: top;

                    div { margin-bottom: 10px }
                    dt { color: @midgrey; }
                    dd { margin-left: 20px; }
                    div, dt, dd {
                      .inlineBlock();
                    }
                    div + div { margin-left: 20px; }
                  }
                  .txt {
                    color: @midgrey;
                    line-height: 20px;
                  }
                }
              }
            }
            li + li { border-top: 1px solid rgba(0,0,0,.05); }
          }
        }
      }
      .reviews {
        margin-top: 0;
        box-sizing: border-box;

        .rating-header {
          padding: 10px 15px;
          margin-top: 10px;

          .rating-icons {
            display: inline-block;
            margin-left: 5px;
          }
        }
        .list {
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 0 15px;

          li {

            .thumb {
              border-radius: 50%;
              overflow: hidden;
              width: 35px;
              height: 35px;
              float: left;

              img { width: 100% }
            }
            .content {
              margin-left: 55px;

              .author,
              .rating-icons { margin-bottom: 10px; }
              .text {
                  display: block; /* Fallback for non-webkit */
                  display: -webkit-box;
                  max-width: 100%;
                  height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */
                  margin-bottom:5px;
                  font-size: @font-size;
                  line-height: @line-height;
                  -webkit-line-clamp: @lines-to-show;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
              .read-more {
                text-decoration: underline;
                color: @blue;
              }
            }
          }
          li + li { margin-top: 30px }
          .see-more { text-align: center }
        }
        .rating-icons {
          position: relative;
          top: 1px;

          .selected { color: @red }
        }
      }
      .information.row  {
        .split  {
          float: left;
          width: 50%;
          box-sizing: border-box;
          padding: 20px;
        }
        .data-money {
          margin-bottom: 20px;

          .title { .inlineBlock(); }
          .dot {
            .inlineBlock();
            .border-radius(50%);
            background: @black;
            height: 3px;
            width: 3px;
            top: -4px;
            position: relative;
            margin-left: 10px;
            margin-right: 5px;
          }
          .money {
            .inlineBlock();
          }
        }
        .box-list {
          overflow: hidden;

          .list-title {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
          }
          .list-items {

            li {
              line-height: 17px;

              i {
                font-style: normal;
                margin-right: 15px;
                display: inline-block;
              }
            }
          }
        }
        .box-list + .box-list { margin-top: 35px }
        .box-list.delivery-times { i { width: 30px } }
        .box-list.lead-times { i { width: 110px } }
        .box-list.zip-codes {
          .list-items {
            .column-count(4);
            .column-gap(10px);

            li {

            }
          }
          .list-title + .list-title,
          .list-items + .list-title { margin-top: 20px }
        }
      }
      .menu, .information, .reviews  {
        float: left;
        max-width: 65%;
        width: 100%;
      }
      .order-summary {
        margin-top: 0;
        float: right;
        max-width: 30%;
        width: 100%;
        padding: 1.5%;

        .title {
          color: @black;
          display: block;
          font-size: 2rem;
          margin-bottom: 30px;
        }
        .without-items {

          p {
            color: @black;
            line-height: 20px;
          }
          p + p { margin-top: 15px; }
        }
      }
    }
  }
  .footer { margin-top: 60px; }
}

/* ------------------------------------------- cart */

.cart {

  .cart-list {

    li {

      .cart-item {

        li {
          .inlineBlock();
          box-sizing: border-box;
          padding-right: 10px;
          vertical-align: top;

          &:last-child { padding-right: 0 }
        }
        .item {
          font-weight: bold;
          width: 70%
        }
        .quantity, .price {
          text-align: right;
          width: 15%
        }
      }
      .edit  {
        cursor: pointer;
        display: block;
        text-decoration: underline;
        font-style: normal;
        color: @red;
      }
    }
    >li + li { margin-top: 20px }
    .subtotal  {
      overflow: hidden;
      font-weight: bold;
      color: #000;
      margin: 20px 0 20px;
      border-top: 1px solid lightgrey;
      padding: 20px 0;
      border-bottom: 1px solid lightgrey;

      .subtotal-title {
        float: left;
      }
      .subtotal-number {
        float: right;
      }
    }
  }
  .cta  { float: right; }
  .taxes  {
    color: #000;
    margin: 20px 0 20px;
    border-top: 1px solid lightgrey;
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;

    >div {
      overflow: hidden;

      .taxes-title {
        float: left;
      }
      .taxes-title.total { font-weight: bold }
      .taxes-number {
        float: right;
        font-weight: bold;
      }
    }
    >div + div { margin-top: 10px }
  }
}

/* ------------------------------------------- checkout */

.wizard {
    text-align: center;
    margin: 10px 0 30px 0px;

    ul {

      li {
        display: inline-block;
        border-radius: 50%;
        background: transparent;
        height: 30px;
        width: 30px;
        line-height: 30px;
        border: 3px solid #695a42;
        font-weight: bold;
        position: relative;
      }
      .selected {
        background: #695a42;
        color: #fbf9e5;
      }
      li + li {
        margin-left: 50px;
      }
      span {
        font-size: 25px;
        position: relative;
        top: -2px;
        margin: 0 10px;
    }
  }
}
.exp-date {
  select { max-width: 105px !important }
  .brake { margin: 0 14px }
}
#restaurant-canvas .restaurant.checkout { margin-top: 20px; }
.information.row.white-box.form {

  form {
    padding: 20px;

    .steps {

      h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      p {
        line-height: 22px;
        margin-bottom: 20px;
      }
      input, select { max-width: 250px }
      .save-card {
        float: left;
        position: relative;
        top: -3px;
        margin-right: 10px;
      }
      .actions {
        overflow: hidden;

        .cta {
          float: right;
          padding-left: 20px;
          padding-right: 20px;
        }
        .cta + .cta { margin-right: 50px }
      }
    }
  }
}

/* ------------------------------------------- footer */

.footer {

  .border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 25px;
    padding-top: 25px;
    overflow: hidden;
    text-align: center;
  }
  .copyright {
    float: left;
    font-size: .9rem;
    color: #939393;

    .brand { color: #2d2d2d; }
  }
  .links {
    float: left;

    li {
      .inlineBlock();
      padding: 0 20px;
      position: relative;

      a {
        color: #3a8fc8;
        font-size: .9rem;

        &:hover { text-decoration: underline; }
      }
    }
    li + li {

      &:before {
        .pseudos();
        content: "|";
        left: 0;
        color: #939393;
      }
    }
  }
}

/* ------------------------------------------- responsive */

@media (max-width: 1130px) {
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small div,
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dt,
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small dd { margin-right: 0 }
}
@media (max-width: 1115px) {
  #restaurant-canvas .restaurant .wrapper .tabs.v2 {
    float: inherit;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}
@media (max-width: 1110px) {
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .thumb {
    display: block;
    margin: 0 auto 20px auto;
    width: 125px;
  }
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data {
    display: block;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .row .large {
    width: 70%;
    margin-left: 0;
  }
}
@media (max-width: 1070px) {
  .footer .copyright {
    float: inherit;
    margin-bottom: 20px;
    display: block;
  }
  .footer .links { float: inherit; }
}
@media (max-width: 915px) {
  .footer .wrapper li {
    display: block;
    margin-right: 0;
    padding: 10px 0;
  }
  .footer .wrapper li + li:before { display: none }
}
@media (max-width: 820px) {
  .footer .links li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer .links li + li:before { display: none; }
}
@media (max-width: 800px) {
  .popup > div {
    padding: 4%;
    width: 92%;
    left: 0;
    margin-left: 0 !important;
  }
  .popup > div .feeds-price {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 10px;
  }
}
@media (max-width: 775px) {
  .header .logo span { display: none }
  .orders-list h3 .price { display: none; }
  .orders-list h3 .items {
    margin-left: 0;
    width: 100%;
    display: block;
    margin-top: 5px;
  }
  .order-history .orders-list h3 .price {
    display: block;
    top: -30px;
    font-size: .9rem;
  }
  #restaurant-canvas .restaurant .wrapper .order-summary {
    float: inherit;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  #restaurant-canvas .restaurant .wrapper .menu,
  #restaurant-canvas .restaurant .wrapper .information,
  #restaurant-canvas .restaurant .wrapper .reviews {
    max-width: 100%;
    float: inherit;
    overflow: hidden;
  }
}
@media (max-width: 740px) {
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .thumb {
    display: block;
    margin: 0 auto 15px auto;
    max-width: 125px;
  }
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .row .column {
    display: block;
    margin-right: 0;
    padding: 0;
  }
  .row .large, .row .small { width: 100% }
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.small { text-align: left }
}
@media (max-width: 690px) {
  .header .help { display: none; }
}
@media (max-width: 670px) {
  #restaurant-canvas .restaurant .wrapper .logo-name-description .logo {
    float: inherit;
    max-width: 90px;
  }
  #restaurant-canvas .restaurant .wrapper .logo-name-description .name-description .description { margin-bottom: 20px }
}
@media (max-width: 580px) {
  .filters .more.row .column,
  .filters .more .box.search .search-sort { width: 100%; }
  .filters .more.row .column:first-child { margin-right: 0; }
  .filters .more.row .column:last-child {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (max-width: 550px) {
  #restaurant-canvas .restaurant .wrapper .menu .picker .menus ul { .column-count(1); }
  #restaurant-canvas .restaurant .wrapper .logo-name-description .name-description .description,
  #restaurant-canvas .restaurant .wrapper .menu .item .list li .data .row .column.large h3 { line-height: 20px }
  #restaurant-canvas .restaurant .wrapper .menu .item .title-description h2 { line-height: 25px }
  .wrapper .logo-name-description .name-description .name { line-height: 30px }
}
@media (max-width: 515px) {
  #restaurant-canvas .restaurant .wrapper .information.row .split { width: 100% }
}
@media (max-width: 410px) {
  .restaurantsList .wrapper > ul .item { margin-bottom: 20px }
  .restaurantsList .wrapper > ul .item,
  .restaurantsList .wrapper > ul {
    margin-left: 0;
    margin-right: 0;
  }
  .restaurantsList .wrapper > ul .item .info ul li {
    display: block;
    margin-right: 0;
    float: inherit !important;
    margin-bottom: 10px;
  }
  .restaurantsList .wrapper > ul .item .thumb { background-size: cover !important }
  .restaurantsList .wrapper > ul .item .info ul .typeFood { width: 100% }
  .restaurantsList .wrapper > ul .item .info ul .dot { display: none }
  .restaurantsList .wrapper > ul .item .info ul .priceRange span { left: 0px }
  .restaurantsList .wrapper > ul .item .info ul .featured { right: 0 }
  .restaurantsList .wrapper > ul .item .info ul .tags {
    padding-left: 0;
    position: inherit;
    right: 0;
    bottom: 0;
    margin-bottom: 0 !important;
  }
  .information.row.white-box.form form .steps .actions .cta + .cta {
    margin-top: 20px;
    margin-right: 0
  }
  .wizard ul span { display: none }
}
@media (max-width: 400px) {
  .form form .actions { text-align: right }
  .form form .actions > div {
    float: inherit;
    margin-top: 15px;
  }
  .form form input[type="text"], .form form textarea { padding: 2% }
  .cta.v1.cancel {
    float: right;
    margin-left: 15px;
  }
  .filters .find-for form { margin: 0; }
  .filters .find-for form input {
    max-width: 100%;
    padding: 0 10px !important;
    margin: 0 0 10px;
  }
  .filters .find-for form .cta {
    margin: 0;
    width: 100%;
  }
  .popup.v2 .form form .actions {
    text-align: inherit;
    overflow: hidden;

    .cta.v1.cancel {
      float: left;
      margin-left: inherit;
    }
    > div {
     float: right;
     margin-top: 0;
   }
  }
  .repeat-order p span { font-size: 2.4rem; }
  .responsiveMenuIcon { display: block }
  .user-menu { display: none; }
}
